.mypage_wrapper{width: 100%; background-color: #1B1C1F}
.mypage_container{width: 100%; display: flex; align-items: center; flex-direction: column; min-width: 1116px; min-height: 100vh;}

/*profile_header*/
.profile_header{margin-top: 100px;}
.profile_img>img{width: 200px; height: 200px; border-radius: 50%;}

.profile_header>.profile_info{ width: 200px; height: 100px; background-color: lightpink; display: flex; flex-direction: column; align-items: center; justify-content: center;}
.profile_info_name{font-weight: bold;font-size: 19px;color: #FFFFFF;}

.profile_search{width: 65%; margin-top: 10px;}

.profile_search>form>input{width: 100%; padding: 19px; border: 1px solid white; border-radius: 12px; color: white; background-color: rgba(66, 66, 66, 0.8);}

.myFavList_container{width: 77.5%; display: flex; justify-content: center; min-width: 1213px;}
.profile_myFavList{width: fit-content; display: flex; flex-wrap: wrap; justify-content: center;}
.myfavMovie_List{padding: 1rem;}
.myfav_movie>img{width: 250px; height: auto; border-radius: 10px;}
.myfav_movie_footer{display: flex;}


/*-------------------------------follow_btn-----------------------------------*/
.follow_btn{
    width: fit-content;
    height: fit-content;
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    color: white;
}
.follow_btn:hover{
    cursor: pointer;
}
.unfollow_btn{
    width: fit-content;
    height: fit-content;
    background-color: lightseagreen;
    padding: 5px;
    border-radius: 5px;
    color: white;
}
.unfollow_btn:hover{
    cursor: pointer;
}






