*{font-family: "Noto Sans KR", sans-serif}
.setting_bg{ width: 100%; height: 100vh; background-color: #1B1C1F; min-width: 985px; min-height: 800px;}
.setting_wrapper{width: 100%; height: 100vh;display: flex; justify-content: center; align-items: center; min-width: 985px; min-height: 800px;}
.setting_container{width: 65%; height: 65%; margin-bottom: 5%;}
.setting_container_header>h3{font-family: "Noto Sans KR", sans-serif; font-style: normal; font-weight: 800; font-size: 31px; line-height: 77.7%; letter-spacing: 0.01em; color: #FFFFFF; margin-bottom: 4%;}
.setting_container_section{width: 100%; background-color: #121314;height: 100%; border-radius: 18px; border: 0.5px solid rgba(255,255,255,0.4);}

/*----------------------------------setting_container_section 안에서의 작업-----------------------------------------------------*/


/*-----------------------------------------------------------이용권작업---------------------------------------------------------*/
.right{width: 100%; height: 50%; border-bottom: 0.5px solid rgba(255,255,255,0.4);}
.right_header{width: 100%; height: 25%; border-bottom: 0.5px solid rgba(255,255,255,0.4); display: flex; align-items: center;}
.right_header>h4{ font-style: normal; font-weight: 800; font-size: 20px; line-height: 77.7%; letter-spacing: 0.01em; color: rgba(255, 255, 255, 0.6); margin-left: 1.75%;}
.right_section{width: 100%;height: 75%;  display: flex;}

.right_section_left{width: 75%; height: 100%;display: flex;}
.right_detail{ width: 20%; height: 100%;display: flex; justify-content: center;}
.right_detail>h4{position: relative; top: 25%; font-style: normal; font-weight: 800; font-size: 22px; line-height: 77.7%; letter-spacing: 0.01em; color: #FFFFFF;}
.right_result{width: 80%; height: 100%;}
.right_result_Msg{ position: relative; top: 25%; margin-left: 3%;}
.right_result_Msg>h4{font-style: normal;font-weight: 800;font-size: 22px;line-height: 77.7%;letter-spacing: 0.1em;color: #FFFFFF; margin-bottom: 2%;}
.right_result_Msg>h5{ font-style: normal; font-weight: bold; font-size: 17px; line-height: 77.7%; letter-spacing: 0.01em; color: #6C6C6C;}

.right_section_right{width: 25%; height: 100%;display: flex; justify-content: center;}
.right_payment{position: relative; top: 37.5%;}
.right_payment>span{border: 0.5px solid #575757; padding: 8px; border-radius: 8px; color: #575757}
.right_payment>span:hover{opacity: 0.75;cursor: pointer;color: #FFFFFF;border: 0.5px solid #FFFFFF;background-color: #d63269;}
/*-----------------------------------------------------------이용권작업끝--------------------------------------------------------*/


/*-----------------------------------------------------------계정작업---------------------------------------------------------*/
.account{width: 100%; height: 50%;}
.account_header{width: 100%; height: 25%; border-bottom: 0.5px solid rgba(255,255,255,0.4); display: flex; align-items: center;}
.account_header>h4{ font-style: normal; font-weight: 800; font-size: 20px; line-height: 77.7%; letter-spacing: 0.01em; color: rgba(255, 255, 255, 0.6); margin-left: 1.75%;}
.account_section{width: 100%;height: 75%;  display: flex;}
.account_section_left{width: 75%; height: 100%;display: flex;}
.account_detail{ width: 20%; height: 100%;display: flex; justify-content: center;}
.account_detail>h4{position: relative; top: 25%; font-style: normal; font-weight: 800; font-size: 22px; line-height: 77.7%; letter-spacing: 0.01em; color: #FFFFFF;}
.account_result{width: 80%; height: 100%;}
.account_result_Msg{ position: relative; top: 25%; margin-left: 3%;}
.account_result_Msg>h4{font-style: normal;font-weight: 800;font-size: 20px;line-height: 77.7%;letter-spacing: 0.1em;color: #6C6C6C;}

.account_section_right{width: 25%; height: 100%;}
.account_section_btn{width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; position: relative; top: 20%; }
.email_change{box-sizing: content-box; padding: 8px; border: 0.5px solid #575757; border-radius: 8px; margin-bottom: 20px; letter-spacing: 2px; color: #575757}
.password_change{box-sizing: content-box;  padding: 8px; border: 0.5px solid #575757;border-radius: 8px; color: #575757}
.email_change:hover{opacity: 0.75;cursor: pointer;color: #FFFFFF;border: 0.5px solid #FFFFFF;background-color: #d63269;}
.password_change:hover{opacity: 0.75;cursor: pointer;color: #FFFFFF;border: 0.5px solid #FFFFFF;background-color: #d63269;}
/*-----------------------------------------------------------계정 작업끝---------------------------------------------------------*/



/*--------------------------------------------------------이용권 변경 Modal-------------------------------------------------------*/
.change_right_modal_bg{display: flex; justify-content: center; align-items: center; width: 100%; height: 100vh; background-color: rgba(0,0,0,0.8); position: absolute; top: 0; left: 0; min-width: 985px; min-height: 800px;}
.change_right_container{ width: 50%; height: 67%;  min-width: 737px; min-height: 737px; border-radius: 11px;border: 0.5px solid rgba(255,255,255,0.4); background-color: #121314}

/*이용권 모달 header*/
.right_modal_header{width: 100%; height: 10%;display: flex; justify-content: space-between; align-items: center}
.right_modal_header>h2{ font-style: normal; font-weight: bold; font-size: 22px; color: white; margin-left: 2%;}
.right_modal_header>i{color: white; opacity: 0.7; margin-right: 3%;}
.right_modal_header>.fas{font-size: 24px;}
.right_modal_header>.fas:hover{cursor: pointer;}

/*이용권 모달 center*/
.right_modal_center{width: 100%; height: 70%;
    display: grid;
    grid-gap: 10px;
    justify-content: center;
    grid-template-columns: 40% 25% 25%;
    grid-template-areas:  " section_left section_center section_right";
}
/*left*/
.section_left{grid-area: section_left;display: flex; flex-direction: column; justify-content: space-evenly;}
.section_left>div{font-style: normal; padding-left: 5px;font-style: normal;font-weight: bold;font-size: 17px;line-height: 123.7%;letter-spacing: 0.01em;color: #FFFFFF;}
.left1{height: 58px;}

/*center*/
.section_center{grid-area: section_center;display: flex; flex-direction: column; justify-content: space-evenly;}
.section_center:hover{background-color: black; border: 1px solid #E02C59; border-radius: 10px;}

.section_center>div{display: flex; justify-content: center; color: #E02C59;font-style: normal;font-weight: 500;font-size: 17px;line-height: 123.7%;letter-spacing: -0.02em;color: #E02C59;}
.center1{flex-direction: column; align-items: center;}
.center1>h5{ font-family: Noto Sans; font-style: normal; font-weight: bold; font-size: 22px; line-height: 123.7%; letter-spacing: -0.02em; color: #E02C59;}
.center1>p{font-style: normal;font-weight: 500;font-size: 16px;line-height: 123.7%;letter-spacing: -0.02em;color: #E02C59;}



/*right*/
.section_right{grid-area: section_right;display: flex; flex-direction: column; justify-content: space-evenly;}
.section_right:hover{background-color: black;border: 1px solid #E02C59; border-radius: 10px;}

.section_right>div{display: flex; justify-content: center;font-style: normal;font-weight: 500;font-size: 17px;line-height: 123.7%;letter-spacing: -0.02em;color: #E02C59;}
.right1{flex-direction: column;align-items: center;}
.right1>h5{ font-family: Noto Sans; font-style: normal; font-weight: bold; font-size: 22px; line-height: 123.7%; letter-spacing: -0.02em; color: #E02C59;}
.right1>p{font-style: normal;font-weight: 500;font-size: 16px;line-height: 123.7%;letter-spacing: -0.02em;color: #E02C59;}



.right_modal_footer{width: 100%; height: 20%;display: flex; justify-content: center; align-items: center;}
.payment_btn{width: 24%; height: 42%; background-color: #E02C59; display: flex; justify-content: center; align-items: center; border-radius: 11px;}
.payment_btn:hover{cursor: pointer; opacity: 0.8;}
.payment_btn>span{font-style: normal;font-weight: bold;font-size: 25px;line-height: 123.7%;letter-spacing: 0.01em;color: #FFFFFF;}
/*--------------------------------------------------------이용권 변경 Modal끝-------------------------------------------------------*/

.change_email_bg{display: flex; justify-content: center; align-items: center; width: 100%; height: 100vh; background-color: rgba(0,0,0,0.8); position: absolute; top: 0; left: 0; min-width: 985px; min-height: 800px;}
.change_email_container{ width: 50%; height: 67%;  min-width: 737px; min-height: 737px; border-radius: 11px;border: 0.5px solid rgba(255,255,255,0.4); background-color: #121314;}

.change_email_header{width: 100%; height: 15%; background-color: lightseagreen; display: flex;align-items: center;}
.change_email_header>div{margin-left: 5px;}
.change_email_header>div>h6{font-style: normal;font-weight: bold;font-size: 30px;line-height: 123.7%;letter-spacing: -0.02em;color: #FFFFFF;}
.change_email_header>div>p{font-style: normal;font-weight: 600;font-size: 16px;line-height: 123.7%;letter-spacing: -0.02em;color: #5E5E5E;}

.change_email_center{display: flex; flex-direction: column; justify-content: center;}
.change_email_center>.errorEmailMassage{margin-bottom: 10px; padding-left: 10px;}
.errorEmailMassage>.overlap_email{font-style: normal;font-weight: 600;font-size: 21px;line-height: 123.7%;letter-spacing: 0.01em;color: #E02C59;}
.myEmail{ font-weight: 600;font-size: 17px;line-height: 123.7%;letter-spacing: -0.02em;color: #5E5E5E;}
.myEmail>span{color: #FFFFFF;}

.change_email_form>form{display: flex;flex-direction: column; align-items: center;}
.change_email_form>form>input{
    border: 0.5px solid rgba(255,255,255,0.4);
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}









.change_email_center{width: 100%; height: 85%; background-color: lightsalmon;}

