<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.wachacha.user.UserProfileMapper">
    <select id="selUserProfileList" resultType="UserProfileEntity">
        SELECT iprofile, img
        FROM t_user_profile
        WHERE iuser = ${iuser}
    </select>

    <insert id="insUserProfile">
        INSERT INTO t_user_profile
            ( iuser, img )
        VALUES
            ( #{iuser}, #{img} )
    </insert>
</mapper>