<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.wachacha.user.UserMapper">

    <insert id="join">
        INSERT INTO t_user
            ( email, pw, nm, tel, grade, provider, authCd )
        VALUES
            ( #{email}, #{pw}, #{nm}, #{tel}, #{grade}, #{provider}, #{authCd} )
    </insert>

    <select id="selUser" resultType="UserEntity">
        SELECT * FROM t_user
        WHERE email = #{email}
        <if test="provider != null">
            AND provider = #{provider}
        </if>
    </select>

    <update id="updateAuth">
        update t_user set authCd = null where email = #{email}
    </update>

    <update id="editPw">
        update t_user set pw = #{pw} where email = #{email}
    </update>
    <update id="updUser">
        UPDATE t_user
        <set>
            <if test="mainProfile != null and mainProfile != '' ">
                mainProfile = #{mainProfile}
            </if>
            <if test="pw != null and pw != '' ">
                pw = #{pw}
            </if>
            <if test="nm != null and nm != '' ">
                nm = #{nm}
            </if>
        </set>
        WHERE iuser = #{iuser}
    </update>
    <update id="updUserMainProfile">
        UPDATE t_user A
        INNER JOIN t_user_profile B
        ON A.iuser = B.iuser
        AND B.iprofile = #{iprofile}
        SET A.mainProfile = B.img
        WHERE A.iuser = #{iuser}



    <!-- follow / MyList -->
    <insert id="insFollow">
        INSERT INTO t_user_follow
            (from_iuser, to_iuser)
            VALUES
            (${from_iuser}, ${to_iuser})
    </insert>
    <select id="selFollower" resultType="UserDomain">
        SELECT B.*
        FROM t_user_follow A
        INNER JOIN t_user B
        ON A.from_iuser = B.iuser
        WHERE A.to_iuser = ${iuser}
    </select>
    <select id="selFollowing" resultType="UserDomain">
        SELECT B.*
        FROM t_user_follow A
        INNER JOIN t_user B
        ON A.to_iuser = B.iuser
        WHERE A.from_iuser = ${iuser}
    </select>
    <delete id="delFollow">
        DELETE FROM t_user_follow
        WHERE from_iuser = ${from_iuser} AND to_iuser = ${to_iuser}
    </delete>

    <insert id="insMyMovie">
        INSERT INTO t_movie_fav
            (iuser, title, image)
        VALUES
            (${iuser}, #{title}, #{image})
    </insert>
    <select id="selMyMovie" resultType="MovieFavEntity">
        SELECT *
        FROM t_movie_fav
        WHERE iuser = ${iuser}
    </select>
    <delete id="delMyMovie">
        DELETE FROM t_movie_fav
        WHERE iuser = ${iuser} AND title = #{title}
    </delete>
      
      

        <selectKey order="AFTER" resultType="String" keyColumn="mainProfile" keyProperty="profile_img">
            SELECT mainProfile FROM t_user WHERE iuser = #{iuser}
        </selectKey>
    </update>
</mapper>