*{margin: 0px;}
html, body{ width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;}
body{
    /*height: 100vh;*/
    overflow-x: hidden;
}
.hidden { display: none;}
a{ text-decoration: none; }
.cursor {cursor:pointer;}