*{margin: 0; padding: 0;list-style: none;}
p, h3, a,h4{
    color: white;
    text-decoration: none;
    margin: 0; padding: 0;
}
ul, li{
    margin: 0; padding: 0;
}
.footer_container{
    min-width: 833px;
    background-color: black;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 0.5fr 1.5fr; /*가로길이*/
    grid-template-areas:
                        "footer_header footer_header footer_header footer_header"
                        "About QuickLink Support Contact_US"
                        "footer_bottom footer_bottom footer_bottom footer_bottom";

}
.footer_header{grid-area: footer_header; height: 37px;}

.About{grid-area: About; display: flex; justify-content: center; align-items: center}
.About_section{width: 332px;}
.About_section p{font-style: normal;font-size: 12px;}
.About_section h3{ margin-bottom: 10px; font-style: normal; font-weight: 600; font-size: 17px; line-height: 123.7%;}

.QuickLink{grid-area: QuickLink;}
.QuickLink_section>h3{ font-style: normal; font-weight: 600; font-size: 17px; line-height: 123.7%;letter-spacing: -0.03em;}
.QuickLink_section>ul>li{ margin-top: 10px; font-family: Noto Sans; font-style: normal; font-size: 12px; line-height: 123.7%; letter-spacing: -0.03em;}

.Support{grid-area: Support;}
.Support_section>h3{ font-style: normal; font-weight: 600; font-size: 17px; line-height: 123.7%; letter-spacing: -0.03em;}
.Support_section>ul>li{ margin-top: 10px; font-family: Noto Sans; font-style: normal; font-size: 12px; line-height: 123.7%; letter-spacing: -0.03em;}

.Contact_US{grid-area: Contact_US;}
.Contact_US_section>h3{ font-family: Noto Sans; font-style: normal; font-weight: 600; font-size: 17px; line-height: 123.7%; letter-spacing: -0.03em;}
.Contact_US_section>table>tr, td{ color: white; font-size: 12px; line-height: 123.7%; letter-spacing: -0.03em;}
.Contact_US_section>table{ border-collapse: separate; border-spacing: 0 5px; margin-top: 5px;}
.footer_bottom{grid-area: footer_bottom; display: flex; justify-content: center }
.footer_bottom h4{ padding-bottom: 15px;padding-top: 30px; font-weight: 300; font-size: 16px; font-style: normal;}
