.web_wapper{
    background-color: #878787;
    width: 100%;
    height: 100vh;
}

.movieInfoSection{
    min-width: 800px;
    width: 100%;
    height: 679px;
    background-image: url("/img/main/header/미나리.jpg");
    background-size: cover;
    background-position: center;
}
.web_header{
    display: flex;
    align-items: center;
}
