.web_wapper{
    background-color: #0C0C10;
    width: 100%;
    min-width: 800px;
}
.movieInfoSection{
    min-width: 800px;
    height: 100vh;
    height: auto;
}
    /*************************************    슬라이드 모달 꾸미는거 ********************************************************/
.movie_info_section_first{
    width: 100%;
    height: 100vh;
    background-image: url("/img/main/mainpage/first.png");
    background-size: cover;
    background-position: center;
}
/*두번째 슬라이드*/
.movie_info_section_second{width: 100%;height: 100vh;background-image:url("/img/main/mainpage/second.png");background-size: cover;background-position: center;display: flex;align-items: center;}
.second_info_section{margin-left: 10%;}
.second_info_section>.info_section_first{font-family: "Noto Sans KR", sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 123.7%;letter-spacing: -0.03em;color: #FFFFFF;}
.second_info_section>.info_section_second{margin-top: 10px;font-family: "Noto Sans KR", sans-serif;font-style: normal;font-weight: bold;font-size: 16px;color: #7D7D7D; margin-bottom: 35px;}
.second_info_section>div{opacity: 0.7;background-color: #e50913;width: fit-content;border-radius: 15px;padding: 18px;display: inline;}
.second_info_section>div:hover{opacity: 1;}
.second_info_section>div>a{color: white;font-family: "Noto Sans KR", sans-serif;font-size: 17px;font-weight: bold;}

.movie_info_section_third{
    width: 100%;
    height: 100vh;
    background-image: url("/img/main/mainpage/슬기로운생활.png");
    background-size: cover;
    background-position: center;
}


#carouselExampleCaptions{
    height: 100vh;
    top: -23px;
}

.WATCHACHA_section{display: flex; flex-direction: column;align-items: center;height: 100vh; justify-content: center }
.WATCHACHA_section_Logo>h1{font-family: Anton; font-style: normal; font-weight: normal; font-size: 338px; line-height: 123.7%; color: rgba(0,0,0,0); -webkit-text-stroke-width: 2.5px; -webkit-text-stroke-color: white}
.testtesttest{ position: relative;top: -5%;}
.testtesttest h3{font-family: "Noto Sans KR", sans-serif; margin-bottom: 2px; font-style: normal; font-weight: normal; font-size: 30px; line-height: 123.7%; letter-spacing: -0.03em; color: #FFFFFF;}
.testtesttest p{ font-family: "Noto Sans KR"; font-style: normal; font-weight: normal; font-size: 20px; line-height: 123.7%; letter-spacing: -0.03em; color: #7D7D7D;

}
/******************************* search_bar *************************************/
.saerch{
    display: flex;
    justify-content: center;
}
.search_bar>i>.fas{
    padding-left: 14px;
    padding-right: 10px;
    font-size: 18px;
}
.search_bar form{
    width: 100%;
}
.search_bar{
    display: flex;
    position: absolute;
    top: 20px;
    align-items: center;
    background-color: #5A5A5A;
    opacity: 0.60;
    width: 55.8%;
    height: 55px;
    z-index: 10;
}
.search_bar input{
    padding: 15px;
    width: 100%;
    color: white;
}
.search_form button{
    visibility: hidden;
}
/**/
.movie__section h2,h3,p,h4{font-family: Noto Sans;color: #FFFFFF; margin: 10px}
.movie__section h2{
    font-size: 45px;
}
.movie__section p{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}
.movie__section h3{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}
.movie__section button{
    margin-left: 32px;
    width: 100px;
    height: 41px;
    background-color: D73068;
    border-radius: 6px;
    color: #FFFFFF;
}
.fas{
    font-size: 24px;
}
.search_bar .fas{
    color: rgba(255, 255, 255, 0.75);
    padding-left: 14px;
    padding-right: 10px;
    font-size: 18px;
}

.search_bar{
    font-size: 14px;
    line-height: 123.7%;
    letter-spacing: 0.045em;
    color: rgba(255, 255, 255, 0.75);
}

/********************************박스오피스 랭킹*****************************************************/
.boxOffice_cotainer{
    width: 100%; min-height: 100vh;
}
.Box__Office__Ranking__header{
    display: flex;
    color: #FFFFFF;
    padding-left: 64px;
    padding-top: 52px;
    margin-bottom: 9px;
}
.Box__Office__poster{
    width: 100%;
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
}
.Box__Office__poster img{
    margin: 0 32px;
    border-radius: 14px;
    width: 208px;
    height: auto;
}
.Box__Office__poster span{
    padding-left: 38px;
}
#header{
    display: flex;
    align-items: center;
}
#header>i{
    color: white;
    margin-right: 10px;
}
#header>h4{
    font-family: "Anton";
    font-size: 36px;
    letter-spacing: 1.5px;

}
#hero-slides>hr{
    color: #FFFFFF;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 25px;
}

/***********************************************       팔로워들좋아하는 영화 리스트    ***************************************************************************/
.recomand_movie_container{
    width: 100%; min-height: 100vh;
}

.follower_fav_movie{
    margin: 0 auto;
    padding-left: 50px;
}
.personal_movie{
    display: inline;
    overflow: hidden;
}
.personal_movie img{
    width: 300px;
    height: 200px;
    background-color: #878787;
}
.personal_movie span{
    color: #FFFFFF;
}

.follower_personal_fav{
    overflow-x: auto;
}


.movie__section h4{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 99.7%;
    letter-spacing: -0.04em;
    color: rgba(255, 255, 255, 0.65);
}
/*연습*/

.test{
    background-color: white;
    display: flex;
}
.innerTest1{ width: 100vw; height: 322px; background-color: lightcoral;}
.innerTest2{ width: 100vw; height: 322px; background-color: cornflowerblue;}
.innerTest3{ width: 100vw; height: 322px; background-color: indianred;}