.web_wapper{
    background-color: 0C0C10;
    width: 100%;
    height: 800%;
}
.movieInfoSection{
    min-width: 800px;
    width: 100%;
    height: 679px;
    /*background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url("/img/main/mainpage/1.jpg");*/
    background-size: cover;
    background-position: center;
}
#carouselExampleCaptions{
    position: relative;
    top: -23px;
}

.carousel-inner img{
    width: 100%;
    height: 679px;
    background-size: cover;
    background-position: center;
}
.web_header{
    margin-top: 80px;
    margin-left: 40px;
    width: 528px;
    height: 473px;
    display: flex;
}

/*미나리 글 */
.movie__section h2{
    font-weight: bold;
    font-size: 45px;
    color: #FFFFFF;
    padding-top: 42.26px;
    padding-left: 28.68px;
}
.movie__section>p:nth-child(2){
    font-size: 14px;
    font-weight: bold;
    padding-left: 31px;
}
.movie__section>p:nth-child(3){
    padding-left: 26.36px;
    font-size: 16px;
}
.movie__section>p:nth-child(4){
    padding-left: 27.36px;
    font-weight: bold;
    font-size: 14px;
    color: rgba(255,255,255,0.7);
}
.movie__section>p:nth-child(5){
    font-weight: bold;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.65);
    padding-left: 28px;

}

.movie__section p{
    color: #FFFFFF;
    padding-top: 5px;
}
/*버튼*/
.playbutton{
    margin-left: 32.85px;
    margin-top: 16px;
    width: 100.3px;
    height: 42.78px;
    background-color: D73068;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border-radius: 10px;
}
#recaptcha{
    border-radius: 30px;
}
.playbutton i{ font-size: 24px; }
.playbutton h4{ font-size: 14px; padding-left: 7px; }


/****************************************************************************************************************************************************************/
.saerch{
    display: flex;
    justify-content: center;
}
.search_bar fas{
    font-size: 26px;
}
.search_bar{
    display: flex;
    position: absolute;
    top: 20px;
    align-items: center;
    background-color: 5A5A5A;
    opacity: 0.60;
    width: 55.8%;
    height: 55px;
    z-index: 10;
}
.search_bar input{
    padding: 15px;
    width: 100%;
    height: 100%;
}
.search_form button{
    visibility: hidden;
}
.movie__section h2,h3,p,h4{font-family: Noto Sans;color: #FFFFFF; margin: 10px}
.movie__section h2{
    font-size: 45px;
}
.movie__section p{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}
.movie__section h3{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}
.movie__section button{
    margin-left: 32px;
    width: 100px;
    height: 41px;
    background-color: D73068;
    border-radius: 6px;
    color: #FFFFFF;
}
.fas{
    font-size: 24px;
}
.search_bar .fas{
    color: rgba(255, 255, 255, 0.75);
    padding-left: 14px;
    padding-right: 10px;
    font-size: 18px;
}

.search_bar{
    font-size: 14px;
    line-height: 123.7%;
    letter-spacing: 0.045em;
    color: rgba(255, 255, 255, 0.75);
}

/*********************************************************************************************************************************************************************/
.Box__Office__Ranking1{
    display: flex;
    color: #FFFFFF;
    padding-left: 64px;
    padding-top: 52px;
    margin-bottom: 9px;
}
.Box__Office__Ranking hr{
    color: #FFFFFF;
    width: 95%;
    margin: 0 auto;
}
.Box__Office__poster{
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    overflow: hidden;
}
.Box__Office__poster img{
    margin: 0 32px;
    border-radius: 14px;
    width: 208px;
    height: auto;
}
.Box__Office__poster span{
    padding-left: 38px;
}

/***********************************************       팔로워들좋아하는 영화 리스트    ***************************************************************************/

.follower_fav_movie{
    margin: 0 auto;
    padding-left: 50px;
}
.personal_movie{
    display: inline;
    overflow: hidden;
}
.personal_movie img{
    width: 300px;
    height: 200px;
    background-color: #878787;
}
.personal_movie span{
    color: #FFFFFF;
}

.follower_personal_fav{
    overflow-x: auto;
}

/***********************************************       팔로워들좋아하는 영화 리스트    ***************************************************************************/

.movie__section h4{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 99.7%;
    letter-spacing: -0.04em;
    color: rgba(255, 255, 255, 0.65);
}



