.web_wapper{
    background-color: 0C0C10;
    width: 100%;
    min-width: 800px;
}
.movieInfoSection{
    min-width: 800px;
    width: 100%;
    height: auto;
}
#carouselExampleCaptions{
    position: relative;
    width: 100%;
    height: auto;
    top: -23px;
}
.movie_info_section1{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 118px;
    left: 40px;
}
.carousel-item img{
    width: 100%;
    height: auto;
}
.carousel slide{
    width: 100%;
    height: auto;
}
/******************************* searchbar *************************************/
.saerch{
    display: flex;
    justify-content: center;
}
.search_bar fas{
    font-size: 26px;
}
.search_bar form{
    width: 100%;
}
.search_bar{
    display: flex;
    position: absolute;
    top: 20px;
    align-items: center;
    background-color: 5A5A5A;
    opacity: 0.60;
    width: 55.8%;
    height: 55px;
    z-index: 10;
}
.search_bar input{
    padding: 15px;
    width: 100%;
}
.search_form button{
    visibility: hidden;
}
/**/
.movie__section h2,h3,p,h4{font-family: Noto Sans;color: #FFFFFF; margin: 10px}
.movie__section h2{
    font-size: 45px;
}
.movie__section p{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}
.movie__section h3{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}
.movie__section button{
    margin-left: 32px;
    width: 100px;
    height: 41px;
    background-color: D73068;
    border-radius: 6px;
    color: #FFFFFF;
}
.fas{
    font-size: 24px;
}
.search_bar .fas{
    color: rgba(255, 255, 255, 0.75);
    padding-left: 14px;
    padding-right: 10px;
    font-size: 18px;
}

.search_bar{
    font-size: 14px;
    line-height: 123.7%;
    letter-spacing: 0.045em;
    color: rgba(255, 255, 255, 0.75);
}

/********************************박스오피스 랭킹*****************************************************/
.Box__Office__Ranking__header{
    display: flex;
    color: #FFFFFF;
    padding-left: 64px;
    padding-top: 52px;
    margin-bottom: 9px;
}
.Box__Office__Ranking hr{
    color: #FFFFFF;
    width: 95%;
    margin: 0 auto;
}
.Box__Office__poster{
    width: 100%;
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
}
.Box__Office__poster img{
    margin: 0 32px;
    border-radius: 14px;
    width: 208px;
    height: auto;
}
.Box__Office__poster span{
    padding-left: 38px;
}

/***********************************************       팔로워들좋아하는 영화 리스트    ***************************************************************************/

.follower_fav_movie{
    margin: 0 auto;
    padding-left: 50px;
}
.personal_movie{
    display: inline;
    overflow: hidden;
}
.personal_movie img{
    width: 300px;
    height: 200px;
    background-color: #878787;
}
.personal_movie span{
    color: #FFFFFF;
}

.follower_personal_fav{
    overflow-x: auto;
}

/***********************************************       팔로워들좋아하는 영화 리스트    ***************************************************************************/

.movie__section h4{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 99.7%;
    letter-spacing: -0.04em;
    color: rgba(255, 255, 255, 0.65);
}
/*연습*/

.test{
    background-color: white;
    display: flex;
}
.innerTest1{ width: 100vw; height: 322px; background-color: lightcoral;}
.innerTest2{ width: 100vw; height: 322px; background-color: cornflowerblue;}
.innerTest3{ width: 100vw; height: 322px; background-color: indianred;}