*{ color: white; }
.web_wapper{ width: 100%;background-color: #1B1C1F; min-height: 100vh;}
.param_searchbar{ font-family: Noto Sans; font-style: normal; font-weight: bold; font-size: 22px; font-size: 22px;}
.param_searchbar2{ font-family: Noto Sans; font-style: normal; font-weight: bold; font-size: 22px; color: 858D90;}
.searchResult_Param{ padding-left: 42px; padding-top: 37px;}
.searchResultHeader{ width: 100%; height: 88px; background-color: black;}
.searchMovie{ display: flex;}
.movie_relevant{
    padding-left: 42px;
}
.movie_relevant1{
    display: flex;

}
.movie_Object{
    padding-left: 42px;
    padding-top: 22px;
}
.movie_Object img{
    height: 300px;
}
.movie_relevant2{
    margin: 0 10px;
    padding-right: 30px;
}
.movie_relevant2 img{
    width: 200px;
    height: 300px;
}
.movie_relevant_name{
    font-size: 17px;
    padding-top: 100px;
}
.movie_relevant_name h4{
    padding-top: 12px;
    font-size: 22px ;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    width: 230px;
}

/******************** 없을때 페이지*************** */
.falesWapper{
    min-width: 800px;
    min-height: 500px;
    display: flex;
    width: 100%;
    height: 84%;
    justify-content: center;
    align-items: center;
}
.falesWapper_center{
    display: flex;
    align-items: center;
}
.falesWapper_center h2{
    margin-left: 20px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
}